h2{
    font-family: 'Poppins';
    font-weight: 600;
}

.acordion {
    background-color: #c45800;
    color: #f3eeec;
    cursor: pointer;
    padding: 1.5rem;
    width: 100%;
    text-align: center;
    outline: none;
    transition: 0.4s;
  }

  .active,
  .accordion:hover {
    background-color: rgb(38, 134, 34);
    color: white;
  }

  .content {
    padding: 0 1.125rem;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: none;
    overflow: hidden;
  }